<% if @bio.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h4><%= pluralize(@bio.errors.count, "error") %> prohibited this post from being saved:</h4>

    <ul>
    <% @bio.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>