<p id="notice"><%= notice %></p>

<aside id="sidebar">
	<% if @posts_recent_ten.length > 0 %>
		<h4>Recent Posts</h4>
	<% end %>	
		<ul class="list-unstyled">
		<% @posts_recent_ten.each do |post| %>
			<li>
				<%= link_to "#{post.heading}", "posts/#{post.id}/" %>
			</li>
		<% end %>
		<br/>
		<% if @posts.length > 10 %>
			<div class="hidden_side_show">
				<%= link_to 'Show All', posts_path %>
			</div> 
		<% end %>
		<br>
		<br>
		<% unless mobile_device? %>
			<div class="fb-follow" data-href="https://www.facebook.com/lood800" data-width="100" data-height="100" data-colorscheme="light" data-layout="button_count" data-show-faces="true"></div><br>
			<br>
			<div class="fb-like" data-href="https://vast-sea-7386.herokuapp.com/" data-width="50" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div><br>
			<br>
		<% end %>
</aside>