@import "bootstrap-sprockets";
@import "bootstrap";

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

h4 {
	size: 20%;
	margin-top: 50px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid gray;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
      background-color: white;
    }
  }
  small {
    float: left;
  }
  ul {
    float: left;
    padding-left: 0;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 300%;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

h3 {
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h5 {
  font-size: 150%;
  letter-spacing: -1px;
  text-align: left;
  font-weight: normal;
  width: 800px;
  margin: 0px auto 15px auto;
  line-height: 120%;
  text-align: justify;
}



/* universal */

body {
  padding-top: 60px;
  padding_bottom: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#error_h2 {
  font-size: 150%;
  letter-spacing: -1px;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: left;
  font-weight: normal;
}

p {
  font-size: 150%;
  letter-spacing: 0.5px;
  font-weight: normal;
  width: 100%;
  margin: 0px 0 15px 0;
  line-height: 120%;
  text-align: justify;
}

#jumbo {
  width: 950px;
}

#sidebar {
  float: right;
  width: 180px;
  h4 {
    margin-top: 0;
    text-decoration: underline;
  }
}
#image_thumb {
  padding: 5px;
  margin: 5px;
  border: 1px;
  border: 1px solid #777777;
  display: table;
  float: left;
  text-align: center;
}

#figure_medium {
  display: table;
  padding: 7px 7px 5px 7px;
  border: 1px solid #777777;
  text-align: center; 
  margin: 20px auto 20px auto;
}
#figcaption {
  padding-top: 5px;
}

#submit_button {
  clear: both;
  padding-top: 30px;
}
#border {
  border-bottom: 1px solid #777777;
}
.tick_box_space {
  padding-left: 20px;
}

.sub_new {
  text-align: center;
}

#center_images_count{
  text-align: center;
}

#profile_pic {
  display: table;
  padding: 10px;
  border: 1px solid #777777;
  text-align: center; 
  margin: 20px auto 20px auto;
}














