<% provide(:title, "Contact") %>

<div class="center jumbotron">
	<h2><%= @detail.name %></h2>
	<h3><%= @detail.phone %></h3>
	<h3><%= @detail.email %></h3>
</div>

<% if logged_in? %>
	<%= link_to 'Edit', edit_detail_path(@detail) %>
<% end %>